/*General*/
.nav-link
.body{
    font-family: Garamond, serif;
    height: 100%;
}
:root{
    padding: 0;
    margin: 0;
}
::placeholder{
    color: white;
    font-size: 17px;
}
.margin30{
    margin:1%;
}
.fondounico{
    background-color: aqua;
}
.colorsolido{
    background-color:#000000;
}
.color-prueba{
    color:rgb(78, 54, 54);
}
.color-prueba1{
    color:rgb(78, 54, 54);
} 
  .color-prueba3{
      color:rgb(187, 71, 56);
}
.color-prueba2{
    color:orange
}
#color-logo{
    color: rgb(189, 29, 29);
}
.enlaces{
    width: 70%;
    display: flex;
}
.color-parrafo{
    background-color: white;
}
.color-parrafo3{
    text-align: center;
   margin-top: 0.25%;
    color:rgb(255, 255, 255);
}
.fondo{
    background-color: rgb(155, 151, 151);
}
.fondo1{
    background-image: linear-gradient(180deg,white,#f7adbd) ;
}
.fondo2{
    background-image: linear-gradient(180deg,#f7adbd,white);
}
.AlineacionDerechos{
    text-align: right;
    text-transform:uppercase;
    font-style: italic;
    text-decoration: overline;
}
#titulo-main{
    margin-left: 20px;
    align-items: center;
    font-size: 47px;
    color: rgb(255, 255, 255);
}
.inputs i{
    cursor: pointer;
    padding: 3px;
    color: #777777;
    transition: all 0.4s;
}
.inputs:hover{
    border: 2px solid white;
}
.inputs:hover i{
    color: white;
}
/*General*/

/*Pagina_Inicio_Base*/
.fondo{
    background-color: rgb(155, 151, 151);
}
.color-parrafo3{
    font-weight: 600;
    line-height : 25px;
    font-size: 21px;
    color:rgb(255, 255, 255);   
}
.color-parrafo2{
    color:rgb(255, 255, 255);
    font-weight: 600;
    line-height : 25px;
    font-size: 21px;
}

/*Pagina_Inicio_Base*/

/*Pagina_Libre_Base*/
.color-parrafo{
    background-color: white;
}
/*Pagina_Libre_Base*/

/*Contactus_Base*/
.border{
    border:gray 5px solid;
    outline:black 4px solid;
    width: 100%;
    height: 50vh;   
}
#enviar{
    cursor: pointer;
    background-color: rgb(3, 104, 3);
    transition: all 0.7s;
}
.radio label, input{
    cursor: pointer;
}
/*Contactus_Base*/

/*Servicios_Base*/
.responsive{
    width: 96%;
    max-width: 960px;
    margin:  0 auto;
}
/*Servicios_Base*/

/*Aboutus_Base*/

/*Aboutus_Base*/