.nav{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    background-color: white;
    width: 100%;
}
.logo{
    cursor: pointer;
    width: 30%;
    height: 20vh;
    display: flex;
    
}
.enlaces{
    width: 70%;
    display: flex;
}

.AlineacionDerechos{
    text-align: right;
    text-transform:uppercase;
    font-style: italic;
    text-decoration: overline;
}
.fondo1{
    background-image: linear-gradient(180deg,white,#f7adbd) ;
}
.fondo2{
    background-image: linear-gradient(180deg,#f7adbd,white);
}
.enlaces li{
    list-style: none;
    justify-content: space-around;
    transition: all 0.8s;
  
    
}
.enlaces ul{
    display: inline;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.enlaces li:hover{
    transform:scale(1.1,1.1);
}
.enlaces li a{
    text-decoration: none;
    color: rgb(189, 29, 29);
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s;
    padding: 14px 25px;
    background-color: #d3d2d2;
    border-radius: 50px;
}

.enlaces li a:hover{
    transform:scale(1.3,1.3);
    color: white;
    background-color: rgb(189,29,29);
}

.enlaces ul{
    width: 100%;
}

.logo img{
    border-radius: 100%;
}
#titulo-main{
    margin-left: 20px;
    align-items: center;
    font-size: 47px;
    color: rgb(255, 255, 255);
}

#color-logo{
    color: rgb(189, 29, 29);
}
.color-prueba{
    color:rgb(78, 54, 54);
}
.intro-form h2{
    color: black;
    font-size: 30px;
}
.form-body{
    width: 60%;
}
.form-body{
    background-color: #444444;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    width: 40%;
}
.form-inputs input{
    width: 85%;
    outline: none;
    border: none;
    background-color: #444444;
    color: white;
    font-size: 16px;
    border-bottom: 2px solid #666666;
    transition: all 0.6s;
}
.form-inputs input:focus{
    border-bottom: 2px solid white;
}
.form-inputs select{
    appearance: none;
    
}
.form-inputs{
    padding: 20px;
    
}
.form-inputs input{
    width: 85%;
    outline: none;
    border: none;
    background-color: #444444;
    color: white;
    font-size: 16px;
    border-bottom: 2px solid #666666;
    transition: all 0.6s;
}
.form-inputs input:focus{
    border-bottom: 2px solid white;
}
.form-inputs select{
    appearance: none;
    
}
.intro-form h2{
    color: black;
    font-size: 30px;
}
.form-body{
    width: 60%;
}
.form-down{
    flex-direction: column;
}
.form-up{
    flex-direction: column;
}
.form-footer{
    display: flex;
    margin-right: 8px;
    flex-direction: column;
}
.form-footer .textarea textarea{
    resize: none;
    margin-top: 20px;
    width: 100%;
    background-color: #666666;
    color: white;
    font-size: 17px;
    outline: none;
    border: 2px solid #666666;
    transition: all 0.4s;
    border-radius: 5px;
}
.form-footer .textarea textarea:focus{
    outline: none;
    border: 2px solid white;
}
.form-footer .botones{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px
}
.form-footer .botones .check{
    display: flex;
    align-items: center;
}
.form-footer .botones .btn{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.form-footer .botones .check label{
    cursor: pointer;
}
.form-footer .botones .check label a{
    color: rgb(76, 243, 243);
}
.form-footer .botones .btn input{
    padding: 15px 30px;
    margin-left: 25px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.form-down{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.form-up{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.intro-form p{
    color: black;
    font-size: 20px;
}
.form{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: white;
    padding: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-down{
    flex-direction: column;
}
.form-up{
    flex-direction: column;
}
.inputs i{
    cursor: pointer;
    padding: 3px;
    color: #777777;
    transition: all 0.4s;
}
.inputs:hover{
    border: 2px solid white;
}
.inputs:hover i{
    color: white;
}
.btn{
    flex-direction: column;
}
.btn input{
    margin-bottom: 2vh;
}
.opacity{
    transition: all 0.3s;
}
.opacity:hover  {
    opacity: 0.6;
    
}





/* r  */

:root{
    padding: 0;
    margin: 0;
}
::placeholder{
    color: white;
    font-size: 17px;
}

.radio label, input{
    cursor: pointer;
}

#input-email{
    width: 85%;
}
#select{
    padding: 5px 12px;
    background-color: #444444;
    outline: none;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.4s;
    cursor: pointer;
    position: relative;
    left: 4px;
}
#flecha{
    padding: 7px;
    margin-right: 5px;
    font-size: 20px;
    color: #777777;
    transition: all 0.4s;
  
}

.select-body:hover{
    border: 2px solid white;
}
.select-body:hover #flecha{
    color: white;
}

.input-clock{
    background-color: #444444;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
}
.input-clientes{
    background-color: #444444;
    color: white;
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 600;
}

.contenedor-imgs{
    display: flex;
    width: 100%;
    height: 1200px;
    justify-content: center;
    align-items: center;
}
.imgs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 800px;

}
.imgs img{
    height: 40vh;
    margin: 2% 4%;
}

  .color-prueba1{
    color:rgb(78, 54, 54);
}
 
  .color-prueba3{
      color:rgb(187, 71, 56);
  }

.color-prueba2{
    color:orange
}

.margen{
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.body{
    font-family: Garamond, serif;
    height: 100%;
}
.margin30{
    margin:1%;
}

.fondounico{
    background-color: aqua;
}

.cocina:hover .overlay {
    bottom: 0;
    height: 100%;
}

.responsive{
    width: 96%;
    max-width: 960px;
    margin:  0 auto;
}

.fondounico{
    background-color: aqua;
}

.colorsolido{
    background-color:#000000;
}

.color-parrafo{
    background-color: white;
}

table {
    width: 100%;
    border-collapse:collapse;
    text-align: center;
    padding: 15px;
    border-style: solid;
    border-width: 6%;
    border-color: rgb(255, 255, 255);
    border-radius: 10%;
    padding: 10px;
  }
  
  td {
    width: 20%;
    padding: 12px;
    border-style: outset;
    border-width: medium;
    border-color: rgb(248, 248, 250);
    border-radius: 50px;
    padding: 12px;
  }
  
  td:nth-child(even) {
    background-color: #777;
  }
  tr{
      transition: all 0.4s;
  }
  tr:hover {
    background-color: rgb(189, 29, 29);
  }


@media screen and (max-width: 1600px){
    .nav{
        flex-direction: column;
        align-items: center;
        margin-bottom: 1%;
        
    }
    .nav .logo img{
        height: 20vh;
    }
    .nav .logo{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .nav .enlaces{
        display: block;
    }
    #enviar:hover{
        padding-left: 30px;
        padding-right: 30px;
    }
    #limpiar:hover{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1370px){
    .nav{
        margin: 0;
        padding: 0;
    }
    .enlaces {
        text-align: center;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .enlaces li{
        display: unset;
        display: block;
        width: 100%;
        margin-top: 3%;
    }
    .enlaces li a{
        display: unset;
        width: 100%;

    }
    .enlaces ul{
        width: 100%;
        display: block;
        flex-direction: column;
    }
    .enlaces ul li{
        width: 100%;
        border-radius: none;
    }
   
    #flecha{
        display: none;
    }
    .inputs{
        margin-bottom: 2vh;
    }
   
   

}

@media screen and (max-width: 1060px){
    .enlaces li{
        margin-top: 5%;
    }
}

@media screen and (max-width: 570px){
    .enlaces li{
        margin-top: 7%;
    }
}

.color-parrafo{
    
    
    background-color: white;
}

.color-parrafo3{
    text-align: center;
   margin-top: 0.25%;
    color:rgb(255, 255, 255);
}
.fondo{
    background-color: rgb(155, 151, 151);
}
