.cocina{
    width: 30%;
}
.cocina:hover .overlay {
    bottom: 0;
    height: 100%;
}
.overlay{
    bottom: 100%;
    background-color: #17191a;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .8s ease;
}
.textococina{
    white-space: nowrap; 
    color: white;
} 
td:nth-child(even) {
    background-color: #777;
}
tr{
    transition: all 0.4s;
}
tr:hover {
    background-color: rgb(189, 29, 29);
  }