





.radio label, input{
    cursor: pointer;
}

#input-email{
    width: 85%;
}
#select{
    padding: 5px 12px;
    background-color: #444444;
    outline: none;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.4s;
    cursor: pointer;
    position: relative;
    left: 4px;
}
#flecha{
    padding: 7px;
    margin-right: 5px;
    font-size: 20px;
    color: #777777;
    transition: all 0.4s;
  
}

.select-body:hover{
    border: 2px solid white;
}
.select-body:hover #flecha{
    color: white;
}

.input-clock{
    background-color: #444444;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
}
.input-clientes{
    background-color: #444444;
    color: white;
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 600;
}



}






.cocina:hover .overlay {
    bottom: 0;
    height: 100%;
}

.responsive{
    width: 96%;
    max-width: 960px;
    margin:  0 auto;
}

.fondounico{
    background-color: aqua;
}


.color-parrafo{
    background-color: white;
}

table {
    width: 100%;
    border-collapse:collapse;
    text-align: center;
    padding: 15px;
    border-style: solid;
    border-width: 6%;
    border-color: rgb(255, 255, 255);
    border-radius: 10%;
    padding: 10px;
  }
  

  
  td:nth-child(even) {
    background-color: #777;
  }
  tr{
      transition: all 0.4s;
  }
  tr:hover {
    background-color: rgb(189, 29, 29);
  }



