.form{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: white;
}
#enviar:hover{
    letter-spacing: 1px;
    background-color: rgb(7, 148, 7);
    color: white;
}
#limpiar{
    cursor: pointer;
    background-color: rgb(97, 7, 7);
    transition: all 0.5s;
}
#limpiar:hover{
    letter-spacing: 1px;
    background-color: rgb(167, 9, 9);
    color: white;
}
#select{
    background-color: #444444;
    outline: none;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.4s;
    cursor: pointer;
}
.select-body:hover{
    border: 2px solid white;
}
.select-body:hover #flecha{
    color: white;
}
#flecha{
    font-size: 20px;
    color: #777777;
    transition: all 0.4s; 
}

.form-body{
    width: 60%;
}
.form-inputs{
    padding: 20px; 
}
.form-footer .textarea textarea{
    resize: none;
    width: 100%;
    background-color: #666666;
    color: white;
    font-size: 17px;
    outline: none;
    border: 2px solid #666666;
    transition: all 0.4s;
    border-radius: 5px;
}
.form-footer .textarea textarea:focus{
    outline: none;
    border: 2px solid white;
}
.form-footer .botones{
    width: 100%;
}
.form-footer .botones .btn{
    width: 50%;
}
.form-footer .botones .check label{
    cursor: pointer;
}
.form-footer .botones .check label a{
    color: rgb(76, 243, 243);
}
.form-footer .botones .btn input{
    color: white;
}
.form-body{
    background-color: #444444;
    width: 40%;
}
.intro-form h2{
    color: black;
    font-size: 30px;
}
.intro-form p{
    color: black;
    font-size: 20px;
}
.form-inputs input{
    width: 85%;
    outline: none;
    border: none;
    background-color: #444444;
    color: white;
    font-size: 16px;
    border-bottom: 2px solid #666666;
    transition: all 0.6s;
}
.form-inputs input:focus{
    border-bottom: 2px solid white;
}
.form-inputs select{
    appearance: none;   
}