.nav{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    background-color: white;
    width: 100%;
}
.logo{
    cursor: pointer;
    width: 30%;
    height: 20vh;
    display: flex;
    
}
.enlaces{
    width: 70%;
    display: flex;
}

.AlineacionDerechos{
    text-align: right;
    text-transform:uppercase;
    font-style: italic;
    text-decoration: overline;
}
.fondo1{
    background-image: linear-gradient(180deg,white,#f7adbd) ;
}
.fondo2{
    background-image: linear-gradient(180deg,#f7adbd,white);
}
