/* PAGINA DE CONTACTO */

/* PARTE JAVI */
:root{
    padding: 0;
    margin: 0;
}
::placeholder{
    color: white;
    font-size: 17px;
}


.form{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: white;
    padding: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-form h2{
    color: black;
    font-size: 30px;
}
.intro-form p{
    color: black;
    font-size: 20px;
}
.form-up{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.form-down{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-body{
    background-color: #444444;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    width: 40%;
}
.radio{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0px;
}
.radio label, input{
    cursor: pointer;
}

.form-inputs{
    padding: 20px;
    
}

.form-inputs input{
    width: 85%;
    outline: none;
    border: none;
    background-color: #444444;
    color: white;
    font-size: 16px;
    border-bottom: 2px solid #666666;
    transition: all 0.6s;
}
.form-inputs input:focus{
    border-bottom: 2px solid white;
}
.form-inputs select{
    appearance: none;
    
}
#input-email{
    width: 85%;
}
#select{
    padding: 5px 12px;
    background-color: #444444;
    outline: none;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.4s;
    cursor: pointer;
    position: relative;
    left: 4px;
}
#flecha{
    padding: 7px;
    margin-right: 5px;
    font-size: 20px;
    color: #777777;
    transition: all 0.4s;
  
}


.select-body{
    border: 2px solid #666666;
    border-radius: 5px;
    transition: all 0.4s;
}
.select-body:hover{
    border: 2px solid white;
}
.select-body:hover #flecha{
    color: white;
}


.form-footer{
    display: flex;
    margin-right: 8px;
    flex-direction: column;
}
.form-footer .textarea textarea{
    resize: none;
    margin-top: 20px;
    width: 100%;
    background-color: #666666;
    color: white;
    font-size: 17px;
    outline: none;
    border: 2px solid #666666;
    transition: all 0.4s;
    border-radius: 5px;
}
.form-footer .textarea textarea:focus{
    outline: none;
    border: 2px solid white;
}
.form-footer .botones{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px
}
.form-footer .botones .check{
    display: flex;
    align-items: center;
}
.form-footer .botones .btn{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.form-footer .botones .check label{
    cursor: pointer;
}
.form-footer .botones .check label a{
    color: rgb(76, 243, 243);
}
.form-footer .botones .btn input{
    padding: 15px 30px;
    margin-left: 25px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
}
#enviar{
    cursor: pointer;
    background-color: rgb(3, 104, 3);
    transition: all 0.7s;
}
#enviar:hover{
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 1px;
    background-color: rgb(7, 148, 7);
    color: white;
}
#limpiar{
    cursor: pointer;
    background-color: rgb(97, 7, 7);
    transition: all 0.5s;
}
#limpiar:hover{
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 1px;
    background-color: rgb(167, 9, 9);
    color: white;
}
.inputs{
    padding: 5px;
    border: 2px solid #666666;
    border-radius: 5px;
    transition: all 0.4s;
}
.inputs i{
    cursor: pointer;
    padding: 3px;
    color: #777777;
    transition: all 0.4s;
}
.inputs:hover{
    border: 2px solid white;
}
.inputs:hover i{
    color: white;
}
.input-clock{
    background-color: #444444;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
}
.input-clientes{
    background-color: #444444;
    color: white;
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 600;
}




/* CREACION DEL MENÚ DE NAVEGACIÓN */
.enlaces{
    width: 70%;
    display: flex;
}
.enlaces li{
    list-style: none;
    display: inline-block;
    justify-content: space-around;
    transition: all 0.8s;
  
    
}
.enlaces ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.enlaces li:hover{
    transform:scale(1.1,1.1);
}
.enlaces li a{
    text-decoration: none;
    color: rgb(189, 29, 29);
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s;
    padding: 14px 25px;
    background-color: #d3d2d2;
    border-radius: 50px;
}

.enlaces li a:hover{
    transform:scale(1.3,1.3);
    color: white;
    background-color: rgb(189,29,29);
}

.enlaces ul{
    width: 100%;
}
.logo{
    cursor: pointer;
    width: 30%;
    height: 20vh;
    display: flex;
    
}
.logo img{
    border-radius: 100%;
}
#titulo-main{
    margin-left: 20px;
    align-items: center;
    font-size: 47px;
}
.nav{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    background-color: white;
    width: 100%;
}
#color-logo{
    color: rgb(189, 29, 29);
}

/* MENU DE IMAGENES */

.contenedor-imgs{
    display: flex;
    width: 100%;
    height: 1200px;
    justify-content: center;
    align-items: center;
}
.imgs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 800px;

}
.imgs img{
    height: 40vh;
    margin: 2% 4%;
}

.texto-servicios{
    margin: 5%;
}

/* MENU DE GOOGLE MAPS */

.contenedor-maps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.titulo-maps{
    color: black;
    font-style: italic;
    text-decoration: underline;
    justify-content: flex-start;
    font-size: 35px;
    font-weight: 600;
}


  /*fran*/
  .color-prueba1{
    color:rgb(78, 54, 54);
}
    .fondo1{
        background-image: linear-gradient(180deg,white,#f7adbd) ;
    }
    .fondo2{
        background-image: linear-gradient(180deg,#f7adbd,white);
    }





 
  .color-prueba3{
      color:rgb(187, 71, 56);
  }

  
.color-prueba2{
    color:orange
}

.color-precios{
    color:rgb(97, 11, 11)
}
 .color-about{
     color:maroon
 }
.margen{
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.body{
    font-family: Garamond, serif;
}





/*story 4 imagenes*/
.cocina{
    position: relative;
    width: 50%;
}
.imgcocina{
    display: block;
    width: 100%;
    height: auto;
}
.overlay{
    position:absolute;
    bottom: 100%;
    left: 0;
    right: 0;
  background-color: #17191a;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .8s ease;
}
.cocina:hover .overlay {
    bottom: 0;
    height: 100%;
}
.textococina{
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

/*Pablo Bravo*/
.fondounico{
    background-color: aqua;
}
.titulo-portada{
    font-family: 'PT Serif', serif;
    font-weight: 600;
}























































































/* MENU RESPONSIVE */

@media screen and (max-width: 1600px){
    .nav{
        flex-direction: column;
        align-items: center;
        margin-bottom: 1%;
        
    }
    .nav .logo{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .nav .enlaces{
        display: block;
    }
    #enviar:hover{
        padding-left: 30px;
        padding-right: 30px;
    }
    #limpiar:hover{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1370px){
    .nav{
        margin: 0;
        padding: 0;
    }
    .enlaces {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 30vh;
    }
    .enlaces ul{
        display: inline;

    }
    .enlaces ul li{
        border-radius: none;
    }

    .form-down{
        flex-direction: column;
    }
    .form-up{
        flex-direction: column;
    }
    #flecha{
        display: none;
    }
    .inputs{
        margin-bottom: 2vh;
    }
    .btn{
        flex-direction: column;
    }
    .btn input{
        margin-bottom: 2vh;
    }
    



}


/*Pablo Bravo*/
.fondounico{
    background-color: aqua;
}
.titulo-portada{
    font-family: 'PT Serif', serif;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(155, 151, 151);
    
    
   
    color:rgb(255, 255, 255)
}

.imagen-fondo{
    height:100vh;
  background-image: url("https://www.busquetsgalvez.com/web/wp-content/uploads/2016/06/Bacoa-Barcelona-Madrid.jpg");
  background-repeat:repeat;
 
  background-size: cover;
  
}

.colorsolido{
    background-color:#000000;
}


.segundo-parrafo{
    margin-top: 35%;
    

}

.color-parrafo{
    
    
    background-color: white;
}

.color-parrafo2{
    color:rgb(255, 255, 255);
    padding-bottom: 0.2%;
    text-align: center;

}

.color-parrafo3{
    text-align: center;
   margin-top: 0.25%;
    color:rgb(255, 255, 255);
   
}
.fondo{
    background-color: rgb(155, 151, 151);
}