.texto-servicios{
    margin: 5%;
}
.columnas{
    column-count: 6;
    column-gap: 2%;
    column-rule:black 2px solid;
    column-width: 240px;
    /*img espejo*/
    }

.responsive{
        width: 96%;
        max-width: 960px;
        margin:  0 auto;
}
.opacity{
    transition: all 0.3s;
}
.opacity:hover  {
    opacity: 0.6;
    
}

